/* ==================== CSS Structure ==================== 
1. COMMON STYLES
	- Reset Styles
	- Common Classes
	- Pre Loader Styles	
2. HTML ELEMENTS STYLE
3. HEADER SECTION	
4. FEATURE SECTION
5. SERVICE SECTION
8. PROJECTS SECTION
9. TESTIMONIAL SECTION
10. PRICING SECTION
13. CONTACT SECTION
14. FOOTER SECTION
========================================================== */


/* --------------- Reset Styles --------------- */
.off-canvas-sidebar {
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	line-height: 28px;
	font-weight: 300;
	color: #666666;
	overflow-x: hidden !important;
	-webkit-font-smoothing: antialiased;
}
.off-canvas-sidebar .row {
    display: flex !important;
    flex-wrap: wrap;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
}
.off-canvas-sidebar .pt-8 {
    padding: 4rem 0rem !important;	
}
.off-canvas-sidebar .pt-6 {
    padding: 1.1rem 0rem 4rem 0rem  !important;	
}
.off-canvas-sidebar .py-8 {
    padding: 0rem !important;	
	background:#333;
}

.off-canvas-sidebar p .text-sz {
    font-size: 16px !important;	
}

.off-canvas-sidebar a {
	color: #cccccc;
	text-decoration: none;
}
	

.off-canvas-sidebar .section-title {
	margin-bottom: 48px;
}

.off-canvas-sidebar .section-title h3, .off-canvas-sidebar .section-title h4 {
	color: #F4F4F4;
	border-top: 1px solid;
	border-bottom: 1px solid;
	display: inline-block;
	margin-top: 0;
	padding: 8px 0;	
}

.off-canvas-sidebar .navbar-toggler {
    line-height: 1;
    background-color: #f8f9fa;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}
.off-canvas-sidebar .navbar-toggler-icon {
    height:26px !important;
	width:22px !important;
    background-color: transparent !important;	
  }
.off-canvas-sidebar .navbar-transparent {
    color: #fff !important;
    background-color: transparent;
	padding:20px 0px;	
}

.off-canvas-sidebar .navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    border-radius: 3px;
    color: #fff;
    margin: 0px !important;
}
.off-canvas-sidebar .navbar .navbar-collapse .navbar-nav .nav-item .nav-link:hover {
    background: #333 !important;
    color:#fff !important;
    padding: 1rem;
    border-radius: 15px;
    border: 1px solid #fff;
}

.off-canvas-sidebar .section-overlay {
	background: rgba(0, 0, 0, .2) !important;
	z-index: 5;
	position: absolute;
    width: 100%;
    height: 100%;
}	


.off-canvas-sidebar .section-title {
	display: inline-block;
	color: #ff5574;
	font-weight: 600;
	font-size: 0.875rem;
	text-align:center;
}
.off-canvas-sidebar .header-strips-two {
    border-top: 2px solid #b7c3d1;
    height: 1px;
    margin: 20px auto;
    position: relative;
    width: 70px;
}
/* --------------- Pre Loader Styles --------------- */
#preloader {
	position:fixed;
	top: 0;
	left: 0;
	background-color:#FFF;
	width: 100%;
	height: 100%;
	z-index: 10050;
}

.loading-circle {
	position: absolute;
	left: 49%;
	top: 49%;
	height: 48px;
	width: 48px;
	border-radius: 50%;
	border-top: 2px solid #7F8C8D;
	border-right: 2px solid rgba(0,0,0, 0);
	border-bottom: 2px solid #7F8C8D;
	border-left: 2px solid rgba(0,0,0, 0);
}

/* =============== HTML element styles =============== */
/* --------------- Button Styles --------------- */

.off-canvas-sidebar .btn-fs {
    padding: 1.125rem 2.25rem !important;
    font-size: 0.875rem;
    line-height: 1.333333;
    border-radius: 2rem !important;
	margin-right: 10px !important;		
}

.btn-solid-reg {
	padding: 0.5rem 1.2rem;
	border: 1px solid #2196f3;
	border-radius: 20px;
	background-color: #2196f3;
	color: #ffffff;
	font-weight: 500;
	font-size: 0.8rem;
}

.btn-solid-reg:hover {
	background-color: transparent;
	color: #ffffff; 
    border: 1px solid #ffffff;
}

.btn-solid-lg {
	display: inline-block;
	padding: 1.425rem 2.625rem !important;
	border: 1px solid #2196f3;
	border-radius: 30px !important;
	background-color: #2196f3;
	color: #2196f3;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	text-decoration: none;
	transition: all 0.2s;
}
.btn-solid-lg:hover {
	border:1px solid;
	border-color: #2196f3 !important;
	color: #2196f3 !important;
	background-color: #fff !important;
}
.btn-plain-lg {
	display: inline-block;
    padding: 1.425rem 2.625rem  !important;
    border: 1px solid #fff !important;
    border-radius: 30px  !important;
	color:#fff ;
	background-color:transparent  !important;
	line-height: 0;  
}
.btn-plain-lg:hover {
	border-color:#333;
	color:#fff !important;
	background-color: #333 !important;
}


.btn-solid-sm {
	display: inline-block;
	padding: 1rem 1.5rem 1rem 1.5rem;
	border: 1px solid #ff5574;
	border-radius: 30px;
	background-color: #ff5574;
	color: #ffffff;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-solid-sm:hover {
	background-color: transparent;
	color: #ff5574; /* needs to stay here because of the color property of a tag */
	text-decoration: none;
}

.btn-outline-reg {
	display: inline-block;
	padding: 1.375rem 2.25rem 1.375rem 2.25rem;
	border: 1px solid #5e6576;
	border-radius: 30px;
	background-color: transparent;
	color: #5e6576;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-outline-reg:hover {
	background-color: #5e6576;
	color: #ffffff;
	text-decoration: none;
}

.btn-outline-lg {
	display: inline-block;
	padding: 1.625rem 2.625rem 1.625rem 2.625rem;
	border: 1px solid #5e6576;
	border-radius: 30px;
	background-color: transparent;
	color: #5e6576;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-outline-lg:hover {
	background-color: #5e6576;
	color: #ffffff;
	text-decoration: none;
}

.btn-outline-sm {
	display: inline-block;
	padding: 1rem 1.5rem 1rem 1.5rem;
	border: 1px solid #5e6576;
	border-radius: 30px;
	background-color: transparent;
	color: #5e6576;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-outline-sm:hover {
	background-color: #5e6576;
	color: #ffffff;
	text-decoration: none;
}


.off-canvas-sidebar .site-name {
	color: #fff;
	font-family: 'Bangers', cursive;
	font-size: 24px;
	padding: 8px 15px;
	letter-spacing: 1px;
}

.off-canvas-sidebar .site-name span {
	color: #fff;
	padding: 0 13px;
	font-weight: 400;
	height: 35px;
	width: 35px;
	display: inline-block;
	margin-right: 3px;
	font-size: 28px;
	line-height: 35px;
}
.off-canvas-sidebar .h2-heading{
 color: #333 !important;
}

/* --------------- Home section --------------- */


.off-canvas-sidebar .section-home {
	position: relative;
	background: url("../images/bg-slider/bg-1.jpg");
	background-size: cover;
}

.off-canvas-sidebar .home {
	height: 100%;
	padding:150px 0px;
    position: relative;
    z-index: 10;	
}


.off-canvas-sidebar .rw-align {
	align-items:center !important;
}

.off-canvas-sidebar .col-tl {
	text-align:center !important;
	padding:120px 0 20px 0;	
}

.off-canvas-sidebar .col-tl h1{
	margin-bottom: 1.25rem;
	font-size: 48px;
	font-weight:600;
	color:#fff;
}
.off-canvas-sidebar .col-tl p{
	font-size:16px;
	margin-top:10px;
	margin-bottom:20px;
	color:#fff;	
}

.off-canvas-sidebar .home .carousel-indicators {
    position: relative;
	width: 100% !important;
	margin-left: 0% !important;
	margin-right: 0% !important;
	margin-top: 20px;
}

.off-canvas-sidebar .home .carousel-indicators li {
    background-color: #ffffff;
	border-color:#ffffff !important;
	width: 15px !important;
    height: 15px !important;
	border-top: 0px !important;
	border-bottom: 0px !important;
	opacity:5;
}
.off-canvas-sidebar .home .carousel-indicators .active{
    background-color: #ff9800 !important;
	border-color:#ff9800 !important;
	width: 15px !important;
    height: 15px !important;
	margin: 1px 3px !important;
}


@media (max-width: 992px) {
	.off-canvas-sidebar .home {
		height: 750px;
		padding:100px 0px; 
	    position: relative;
		z-index: 10;	
	}
	.off-canvas-sidebar .col-tl h1{
		margin-bottom: 1.25rem;
		font-size:42px;
		font-weight:600;
		color:#fff;
	}
}

/*------------------------
Intro Styles
------------------------*/
.off-canvas-sidebar #works{
    background: #000000 !important;
    color: #ffffff !important;
    position: relative;
    height: auto;
}

.feature-header{
	padding-bottom:20px;
}

.feature-header .h2-heading{
	font-size: 2rem!important;
	color:#ffffff !important;
}

.feature-header p{
	font-size: 1.4rem!important;
	color:#ffffff;
}


.intro-item {
  text-align: center;
  padding: 30px 35px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border: 1px solid transparent;
}
.intro-item:hover {
  border-color: #ffffff;
}

.intro-icon {
  font-size: 3rem;
  line-height: 1;
  color: #ffffff;
}

.intro-title {
  color: #2196f3;
  font-size: 1.4rem;
  margin-top: 25px;
  margin-bottom: 15px;
}


/*------------------------
Features Section
------------------------*/

.off-canvas-sidebar #section-details {
	background: #ffffff !important;
}

#features {
	background:#ffffff;
	position:relative;
}
#features .mt-5 span{
	font-size:40px;
	margin-right: 10px;
	color: #2196f3;
}

.off-canvas-sidebar #section-banner {
	background: #000000 !important;
	color: #ffffff !important;
    position: relative;
    height: 400px;
    overflow: hidden;
}

.off-canvas-sidebar .section-overlay-2 {
	background: #2196f3 !important;
	z-index: 5;
	position: absolute;
    width: 50%;
    height: 500px;
	margin-top:-60px;
    -webkit-transform: translateX(-15%) rotate(8deg);
    -ms-transform: translateX(-15%) rotate(8deg);
    transform: translateX(-15%) rotate(8deg);		
}

.off-canvas-sidebar #section-banner .text-container{
	float:right;
	width:50%;
	height:100%;
	padding:3rem 0;
}
.off-canvas-sidebar #section-banner h2{
	color: #ffffff !important;
}

@media (max-width: 992px) {
	.off-canvas-sidebar #section-banner .text-container{
		padding: 2rem 0 2rem 2rem ;
		width:100%;
		height:100%;
	}
	.off-canvas-sidebar .section-overlay-2 {
		background: #ff3336 !important;
		z-index: 5;
		position: absolute;
		width: 40%;
		height: 50%;
		display:none;
	}
}

/*------------------------
Client Logo Styles
------------------------*/

.owl-carousel .owl-item {
    float: left;
    height: 400px;
}
.owl-carousel .owl-item img{
    height: 100%;
}

/* ================ Services Section ================ */
#section-services {
	position:relative;
	background-color: #333333;
	color: #e5e5e5;
}

.container.services {
	padding-top: 120px;
	padding-bottom: 72px;
}


.service {
	padding-bottom: 48px;
}

.service-icon {
	float:left;
	width: 30%;
}

.service-desc {
	display:table;
}

.service-desc h4 {
	margin-top: 0;
}

.flex-1 h5{
	font-weight:600;
	color:#333;
}
.pt-8 .me-4{
	margin-right:10px;	
}
#services .mt-5 span{
	font-size:40px;
	margin-right: 10px;
	color:#4caf50;
}


/* ================ details Sections ================ */

/*********************/
/*     Details 1     */
/*********************/
.basic-1 {
	padding: 2rem 0;
}

.basic-2 {
	padding-top: 4rem;
}

.basic-1 .image-container, .basic-2 .image-container{
	margin-bottom: 4rem;
    text-align: center;	
}

.basic-1 h2, .basic-2 h2 {
	margin-bottom: 1.875rem;
}
.basic-1 .text-container, .basic-2 .text-container  {
	padding: 20px;	
}

.basic-1 .text-container h2, .basic-2 .text-container h2 {
	color:#333;
	line-height:3rem;
	padding-top: 20px;	
}

.basic-1 h2 span, .basic-2 h2 span {
	font-weight: 400;
}

.basic-1 p:last-of-type, .basic-2 p:last-of-type {
	margin-bottom: 2rem;
}
.basic-1 .details-bs, .basic-2 .details-bs{
  transform: scale(1);
  background-color:#fff;
  box-shadow: 0px 0 10px rgba(1, 41, 112, 0.1);
  border-radius:10px;
  height:600px;
  padding: 20px;
}

.basic-1 .img-fluid{
    max-width: 100%;
    height: 100%;
    margin-right: -30px;
}
.basic-2 .img-fluid{
    max-width: 100%;
    height: 100%;
    margin-left: -30px;
}
@media screen and (max-width: 992px){
	.basic-1 .details-bs, .basic-2 .details-bs{
	  height:auto !important;
	}
	 .basic-2 .image-container{
		margin-bottom: 3rem;
		margin-top: 1rem;
		text-align: center;	
	}	
}

/*********************/
/*     Counter     */
/*********************/
.counter {
	padding-top: 4rem;
	padding-bottom: 2rem;
}

.counter .text-container {
	margin-bottom: 4rem;
}

.counter h2 {
	margin-bottom: 1.875rem;
}

.counter h2 span {
	font-weight: 400;
}

.counter p {
	margin-bottom: 4rem;
}

.counter .counter-container {
	text-align: center;
	display:flex;
}

.counter .counter-cell {
	margin-bottom: 3rem;
	color: #6168ff;
}

.counter .counter-cell.orange {
	color: #ff9800;
	background-color:#ffffff;
}

.counter .counter-cell.red {
	color: #f44336;
}

.counter .counter-cell.green {
	color:#4caf50;
}

.counter .purecounter {
	margin-bottom: 1.5rem;
	font-weight: 400;
	padding-right: 1rem;
    font-size: 2.5rem;
	line-height: 2rem;
}

.counter .purecounter:after {
    content: "+";
	margin-left: 0.5rem;
}

.counter .counter-info {
	font-size: 0.875rem;
	line-height: 1.5rem;
}

/* ================ Video Section ================ */
#section-video {
	position:relative;
}
.container.big-video {
	padding-top: 96px;
	padding-bottom: 120px;
}

.video-content iframe {
border: 0 !important;
}

/* ================ Projects Section ================ */
.filter {
	padding-top: 2rem;
	padding-bottom: 5.625rem;
	text-align: center;
}

.filter h2 {
	margin-bottom: 2.625rem;
}

.filter .button-group {
	margin-bottom: 1rem;
}

.filter .button {
    margin-bottom: 0.75rem;
	margin-right: 0.3rem;
    border: none;
    background-color: #333;
    color: #fff;
    padding: 0.2rem 1rem;
    border-radius: 1rem;
    font-weight: 400;
    font-size: 0.8rem;
}

.filter .button:hover,
.filter .button.is-checked {
    color: #4caf50;
    border: 1px solid #4caf50;
    background-color: transparent;
    border-radius: 20px;
    font-size: 14px;	
}

.filter .grid {
	margin-right: auto;
	max-width: 100%;
	margin-left: auto;
}

.filter .element-item {
	margin-bottom: 3rem;
}

.filter .element-item a {
	text-decoration: none;
}

.filter .element-item img {
	margin-bottom: 1.125rem;
	border-radius: 8px;
	border: 1px solid #5e6576;
}

.filter .element-item p {
	text-align: left;
}

.filter .element-item p strong {
	color: #222222;
}


/*--------------------------------------------------------------
# Services Cart & Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding-top: 10px; 
  background: #090b1e;
  color: #fff;
}
@media (max-width: 992px) {
  .breadcrumbs {
	margin-top: 0px;
  }
 .item-cost, .hire-cost {
	width: 60px !important;
 }
}
.main-panel .card .cart-row {
   overflow: scroll;
}
.main-panel .card .cart-row .card {
   margin: 0;
}
.breadcrumbs .dark-bg {
  color: #fff;
  text-align:center;
  margin-top:20px;
  padding-bottom:20px;
}
.breadcrumbs h2 {
  font-size: 28px;
  font-weight: 600;
}
.ms-3 {
	margin-left: 20px;
}
.cart-head, .list-head, .checkout-head{
	color: #298929 !important;
}
.checkout-header{
	font-size: 16px;
	font-weight: 600;
}
.cart-alert, .list-alert {
	color: #ff0000;
}
.img-cart, .img-list{
	width: 65px;
}
.number-input {
	width: 100px;
	display: inherit !important;
}
.number-input button {
	-webkit-appearance: none;
	color: #999999 !important;
	background-color: transparent !important;
	border: none !important;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	margin: 0;
	width: 100px;
	position: relative;
	display: inline-block !important;
	box-shadow: none !important;
}
.number-input button:before,
.number-input button:after {
	display: inline-block;
	position: absolute;
	content: '';
	height: 2px;
	transform: translate(-50%, -50%);
}
.number-input button i {
	font-size: 0.7rem;
}
.item-cost, .hire-cost {
	width: 80px;
	text-align: center;
}
.item-cancel, .hire-cancel, .req-label {
	color: #ff0000 !important;
}
.cart-summary, .hire-summary, .card-details {
	text-align: center;
	font-size: 28px;
	font-weight: 600;
}
.summary-body div{
	margin: 1.5rem 0;
}

.summary-body p{
	font-size: 20px;
	font-weight: 600;
}


/*--------------------------------------------------------------
# Project Details
--------------------------------------------------------------*/
.project-details {
  padding-top: 40px;
}
.project-details .project-details-slider img {
  width: 100%;
}
.project-details .project-details-slider .swiper-pagination {
  margin-top: 20px;
  position: relative;
}
.project-details .project-details-slider .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #333333;
  opacity: 1;
  border: 1px solid #33333;
}
.project-details .project-details-slider .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #f44336;
  border: 1px solid #f44336;
}
.project-details .project-info {
  padding: 30px;
  box-shadow: 0px 0 30px rgba(69, 80, 91, 0.08);
}
.project-details .project-info h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  padding: 20px 10px;
  border-bottom: 1px solid #eee;
  border-radius: 12px;
  color: #fff;
  background: #f44336;
}
.project-details .project-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}
.project-details .project-info ul li + li {
  margin-top: 10px;
}
.project-details .project-description {
  padding-top: 30px;
}
.project-details .project-description h2 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}
.project-details .project-description p {
  padding: 0;
}

#project-load {
	display: none;
	position:relative;
	left: 105%;
	min-height: 400px;
}
.project-details .ft-2 {
	height:80px;
	text-align:center !important;
}
.project-details .back-button {
	color:#fff;
	background-color:#f44336;
	margin:20px;
	border-radius:15px;
	font-size:1.5rem;
}
.project-details li>strong {
	font-weight:600;
}




/* ================ Subscribe Section ================ */
#section-subscribe {
	position:relative;
}

.container.subscribe {
	padding-top: 120px;
	padding-bottom: 120px;
}

.subscription-success, .subscription-failed {
	display:none;
	color: #e5e5e5;
}

.subscribe h2 {
	margin-bottom: 30px;
}

#subscription-form {
	overflow: hidden;
	width: 100%;
}

#subscription-form  .input-email {
	display: block;
	height: 35px;
	font-size:13px;
	padding-left: 20px;
	width: 100%;
	color: #ffffff;
	background: #ffffff;
	border-radius: 4px;
	border: 1px solid #ffffff;
	margin: auto;
	margin-bottom: 14px;
}



/* ================ Footer Section ================ */
.off-canvas-sidebar #footer {
	padding-top: 80px;
	color:#eee;
	position:relative;
	background-color: #333;	
}
.off-canvas-sidebar #footer .nav .nav-item .nav-link i {
    font-size: 18px;
	color: #fff;
}
.off-canvas-sidebar #footer .nav .nav-item .nav-link i:hover {
	color: #ffffff;
}
.off-canvas-sidebar #footer .nav .nav-item a {
	margin-bottom:20px;
}
.off-canvas-sidebar #footer .nav .nav-item a:hover {
    color:#ffffff ;
	text-decoration: none;
    background-color: #ff3336 !important;
	border:1px solid #ff3336;
	border-radius:25px;
}
.off-canvas-sidebar #footer .list-unstyled .lh-lg a {
    font-size: 13px;
	color: #eee;
}
.off-canvas-sidebar #footer p {
    color: rgba(255, 255, 255, .8);
    font-size: 15px;
    padding: 10px 0;
}
.off-canvas-sidebar #footer hr {
    border-color: rgba(216, 203, 187, .1);
}
.off-canvas-sidebar .footer-name {
    text-decoration: none;
    font-size: 160%;
    color: #fff;
    font-weight: 600;
}


.off-canvas-sidebar #footer .container{
	padding-top: 80px;
	padding-bottom: 0px;	
}

.off-canvas-sidebar .bg-holder {
    position: absolute;
    width: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
	background-color:rgb(37 37 37 / 0%);
    background-size: cover;
    background-position: center;
    overflow: hidden;
    will-change: transform, opacity, filter;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-repeat: no-repeat;
    z-index: 0;
}
.footer-title {
	display: inline-block;
	margin-bottom: 40px;
	text-transform: none;
}

.social-icons ul li {
	display: inline-block;
}

.social-icons ul li a{
	margin-left: 10px;
	font-size: 28px;
	color: #9D9D9D;
	font-weight: normal;
	text-shadow: none;
	-webkit-transition: all .5s ease-in;
	-moz-transition: all .5s ease-in;
	-o-transition: all .5s ease-in;
	transition: all .5s ease-in;
}

.copyright {
	padding-top: 15px;
}
/**
 * ========================================
 * 17. SCROLL UP
 * ========================================
 */

.scroll-up {
	opacity: 0;
	visibility: hidden;
	position: fixed;
	z-index: 999;
	bottom: 20px;
	right: 20px;
	-webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-ms-transition: all 0.3s ease-in-out 0s;
	-o-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}
.scroll-up.scroll-top-show {
	visibility: visible;
	opacity: 1;
}
.scroll-up a {
	background: #2196f3;
	display: block;
	height: 46px;
	width: 46px;
	text-align: center;
	font-size: 16px;
	color: #ffffff;
	border:1px solid #2196f3;
	border-radius:30px;
	padding-top:10px;	
	-webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-ms-transition: all 0.3s ease-in-out 0s;
	-o-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}
.scroll-up a:hover {
	background: #000;
	color: #333;
	border:1px solid #333;
}
 @media (max-width: 767px) {
 .scroll-up {
 display: none !important;
}
}


/*--------------------------------------------------
Error Page Styles
--------------------------------------------------*/

.errorPage .two-cols-description-image {
    overflow: hidden;
    padding-top: 37.5%;
    position: relative;
}
.errorPage .two-cols-description-image img {
    left: 0;
    max-width: 100% !important;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    top: 0;
}
.errorPage .two-cols-description-text-inner {
    margin-left: auto;
    max-width: 720px;
}
.errorPage .two-cols-description-text-inner .heading .bold-font {
    font-size: 200px !important;
	font-weight: 600 !important;
}
.errorPage .two-cols-description-text-inner .heading .light-font{
    color:#c0392b !important;
}
.errorPage .two-cols-description-text-inner .btn-plain-lg{
    color:#fff !important;
	background-color:#030f27;
	border:3px solid #030f27;
	border-radius:20px;
	font-size:2rem;
	text-transform:none;
}



@media (max-width: 991px) {
.errorPage .two-cols-description-image {
    margin: -90px -15px 90px;
    padding-top: 75%;
}
.errorPage .two-cols-description-text + .two-cols-description-image {
    margin-bottom: -90px;
    margin-top: 20px;
}
.errorPage .two-cols-description-text-inner {
    margin: 0 auto;
}
.errorPage .two-cols-description-text {
    padding: 60px 60px;
    vertical-align: middle;
	margin-bottom:0px;
}
.errorPage .two-cols-description-text-inner .heading .bold-font {
    font-size: 120px !important;
	font-weight: 600 !important;
}

.errorPage .two-cols-description-text + .two-cols-description-image {
    margin-bottom: -80px;
    margin-top: 20px;
}

.errorPage .two-cols-description-image
{
	margin-bottom: 20px;
}



.block-message
{
	margin-bottom:90px;
}
}
@media (min-width: 992px) {
.errorPage .two-cols-description-section {
    padding: 0;
}
.errorPage .two-cols-description-row {
    display: table;
    padding: 0;
    table-layout: fixed;
    width: 100%;
}
.errorPage .two-cols-description-image, .two-cols-description-text {
    display: table-cell;
    float: none !important;
    width: 50%;
}
.errorPage .two-cols-description-text {
    padding: 60px 60px;
    vertical-align: middle;
	margin-bottom:20px;
}
}


@media (max-width: 1002px) {
	
.errorPage   .two-cols-description-image img {
    left: 0;
   width: 150px;
    position: absolute;
    top: 0;

}
}


/*--------------------------------------------------------------
# Services Pricing 
--------------------------------------------------------------*/
#section-pricing {
	background: #f9f9f9;
	color:#666;
}

.pt-6 .mb-3 .card-body span{
	font-size:48px;
	color:#2196f3;
}
.pt-6 h5{
	color:#3f51b5;
	font-weight:600;
}
.pt-6 h3{
	color:#3f51b5;
	font-weight:600;
	margin: 20px 0 10px;
}

.main-panel .pricing .card {
    border: 0;
    margin-bottom: 10px;
    margin-top: 30px;
    border-radius: 6px;
    color: #333333;
    background: #fff;
    background-color: transparent;	
    width: 100%;
	height: auto !important;	
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 14%);
    -webkit-transition: all 0.35s ease;
    -moz-transition: all 0.35s ease;
    -o-transition: all 0.35s ease;
    transition: all 0.35s ease;	
}
.main-panel .pricing .card:hover{
  -webkit-box-shadow: 0 .1em 1em;
  -moz-box-shadow: 0 .1em 1em;
  -o-box-shadow: 0 .1em 1em;
  box-shadow: 0 .1em 1em;	
}
.main-panel .pricing .card .card-body {
    padding: 10px;
    position: relative;
	height:500px; 
	overflow: scroll;
}
.main-panel .card .card-body .service-link{
	color: #333333;
	font-size: 0.875rem !important;
}
.main-panel .card .card-body .service-link:hover{
	color: #333333;
}
.main-panel .pricing .card .card-body ol{
    text-align: left;
}
.main-panel .pricing .card .border-top {
    border-top: 1px solid #EEEEEE !important;
}

/*--------------------------------------------------------------
# Gallery Images 
--------------------------------------------------------------*/
.main-panel .section-padding {
    padding: 0px;
}

.main-panel .filter .button-group {
	margin-bottom: 2rem;
	margin-top:2rem;
}

.main-panel .filter .button {
	margin-bottom: 0.75rem;
    border: 2px solid #2196f3;
    border-radius: 10px;
    background-color: #2196f3;
	color: #fff;
	padding:0.5rem;
	font-weight: 500;
	font-size: 0.9rem;
}

.main-panel .filter .button:hover, .filter .button.is-checked {
    color: #fff;
	background-color:#333333;
    border: 2px solid #333333;	
}

.main-panel .gallery .gallery-item {
  margin-bottom: 30px;
}

.main-panel .gallery .gallery-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.main-panel .gallery .gallery-wrap::before {
  content: "";
  background: rgba(255, 255, 255, 0.7);
  position: absolute;
  left: 30px;
  right: 30px;
  top: 30px;
  bottom: 30px;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}
.main-panel .gallery .gallery-wrap .gallery-info {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-panel .gallery .gallery-wrap .gallery-info::before {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  top: 35px;
  left: 35px;
  border-top: 3px solid #fff;
  border-left: 3px solid #fff;
  transition: all 0.5s ease 0s;
  z-index: 9994;
}
.main-panel .gallery .gallery-wrap .gallery-info::after {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  bottom: 35px;
  right: 35px;
  border-bottom: 3px solid #fff;
  border-right: 3px solid #fff;
  transition: all 0.5s ease 0s;
  z-index: 9994;
}
.main-panel .gallery .gallery-wrap .gallery-info h4 {
  font-size: 20px;
  color: #434175;
  font-weight: 600;
}
.main-panel .gallery .gallery-wrap .gallery-info p {
  color: #434175;
  font-size: 12px;
  text-transform: none;
  line-height:18px;
  padding: 0;
  margin: 0;
}
.main-panel .gallery .gallery-wrap .gallery-links {
  text-align: center;
  z-index: 4;
}
.main-panel .gallery .gallery-wrap .gallery-links a {
  color: #5a5af3;
  margin: 0 2px;
  font-size: 28px;
  display: inline-block;
  transition: 0.3s;
}
.main-panel .gallery .gallery-wrap .gallery-links a:hover {
  color: #1313ee;
}
.main-panel .gallery .gallery-wrap:hover::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
}
.main-panel .gallery .gallery-wrap:hover .gallery-info {
  opacity: 1;
}
.main-panel .gallery .gallery-wrap:hover .gallery-info::before {
  top: 15px;
  left: 15px;
}
.main-panel .gallery .gallery-wrap:hover .gallery-info::after {
  bottom: 15px;
  right: 15px;
}


